@import 'variables';

.card-course-item{
    margin-top: 10px
}
.course-img{
    width: 100%;
    height: 200px;
    
}
.course-name{
    color: black;
}
.course-name:hover{
    text-decoration: none;
    color: red;
}